<div class="header">
    <h1>ember-fontface-source-sans-pro</h1>

    <h2>Inject a nice looking font easily</h2>
</div>


<div class="content">
  <h2>How to install it?</h2>

  <p>
    <pre>ember install ember-fontface-source-sans-pro</pre>
  </p>

  <p>
  and then, set the font-family attribute in your stylesheet file (ie app/styles/app.css):
  </p>

  <p>
    <pre>body {
   font-family: 'Source sans pro';
}
</pre>
  </p>

</div>

<div class='footer'>
see the <a href="https://github.com/hugoruscitti/ember-fontface-source-sans-pro" target="_blank">github repository</a>.
</div>
